form{
    border: 2px solid #000000;
    margin: 0 auto;
    border-radius: 0.5rem;
    max-width: 400px;
    padding: 2rem;
    background-color: antiquewhite;
}
h2{
    text-align: center;
}
.form-group{
    width: 100%;
    /* padding: 0.6rem; */
}
.form-group input, textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    outline: none;
}
.submit{
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-weight: 600;
    background: rgb(7, 187, 237);
}